body {
    background-color: #305c4a;
    color: white;
    font-family: "Bai Jamjuree", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #3e5e18;
    color: white;
    font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 160%;
    font-size: medium;
}

img {
    max-width: 90%;
}